.wrapper--intro {
  position: relative;
  background-image: url('../../img/intro-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -119px;
  width: 200px;
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center
}

.intro__image {
  width: 160px;
  height: 193px;
  margin-bottom: 38px;
}

.intro__link {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #f89513;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 17px 19px 11px 19px;
  border-radius: 3px;
  margin: 0 auto;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition-duration: 800ms;
}

.intro__link:hover {
  color: #ffffff;
  background-color: #000000;
}
