
.logo {
  width: 180px;
  height: 76px;
  padding-top: 11px;
  margin-right: auto;
  cursor: pointer;
}
.logo__link {
  font-family: 'Gora Free', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 3em;
  color: #f89513;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 500ms;
}
.logo__link:hover {
  font-size: 28px;
  line-height: 1.5em;
}