.promo {
  background-image: url('/img/reviews-!.png');
  background-repeat: repeat;
  background-color: #131415;
  margin-bottom: 58px;
}

.promo__text {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 2% 20% 2.8% 18.5%;
}

.promo__privilege {
  color: #f89513;
  font-weight: bold;
}
